body, html{
    background-color: rgb(173, 240, 225);
    font-size: 10px;
}



div{
    position: relative;
    z-index: 1000;
    border: 5px rgb(8, 223, 176) solid;
    margin: 20px 25px;
    padding: 15px 25px;
    width: 100%;
    max-width: 400px;
    color: rgb(5, 133, 184);
    text-align: center;
    float: left;
    background-color: rgba(180, 16, 16, 0.3);
    font-size: 16px
}
p{
    font-size: 2rem;
}